<div class="container py-4">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="row justify-content-center">
      <div class="col-8 mb-4">
        <div class="card  shadow-sm">
          <div class="card-header card-header-color mb-5">
            <h1 class="mb-0 text-center font-weight-bold">新規登録ページ</h1>
          </div>
          <div class="card-body text-center">
            <h3 class="card-title"><%= f.label :username, "ユーザー名(表示名)" %></h3>
            <p class="card-text"><%= f.text_field :username, class:"form-control w-50 mx-auto" %></p>
            
            <h3 class="card-title"><%= f.label :introduction, "自己紹介文" %></h3>
            <p class="card-text"><%= f.text_area :introduction, class:"form-control w-50 mx-auto", rows: 6 %></p>
            
            <h3 class="card-title"><%= f.label :email %></h3>
            <p class="card-text"><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control w-50 mx-auto" %></p>
            
            <h3 class="card-title"><%= f.label :phone_number, "電話番号" %></h3>
            <p class="card-text"><%= f.text_field :phone_number, placeholder: "ハイフンなし", class:"form-control w-50 mx-auto" %></p>
            
            <h3 class="card-title"><%= f.label :last_name, "姓"%></h3>
            <p class="card-text"><%= f.text_field :last_name, placeholder: "田中", class:"form-control w-50 mx-auto" %></p>
            
            <h3 class="card-title"><%= f.label :first_name, "名"%></h3>
            <p class="card-text"><%= f.text_field :first_name, placeholder: "花子", class:"form-control w-50 mx-auto" %></p>

            <h3 class="card-title"><%= f.label :last_name_kana, "姓(カナ)" %></h3>
            <p class="card-text"><%= f.text_field :last_name_kana, placeholder: "タナカ", class:"form-control w-50 mx-auto" %></p>

            <h3 class="card-title"><%= f.label :first_name_kana, "名(カナ)" %></h3>
            <p class="card-text"><%= f.text_field :first_name_kana, placeholder: "ハナコ", class:"form-control w-50 mx-auto" %></p>

            <div class="actions mb-2">
              <%= f.submit "新規登録", class:"btn btn-primary" %>
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
