<%= render "public/header1" %>
<div class="container py-5 d-flex justify-content-center">
  <%= form_with model: @period, url: public_period_path(@period), local: true do |f| %>
    <% if @period.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(@period.errors.count, "件のエラー") %>があります：</h4>
        <ul>
          <% @period.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card border-dark", style="width: 400px;">
      <div class="card-header text-center">
        <h1 class="mb-0 font-weight-bold">期間の編集</h1>
      </div>
      <div class="card-body text-center">
        <h3 class="card-title"><%= f.label :start_date, "開始日" %></h3>
        <h4 class="card-text text-secondary"><%= @period.start_date %></h4>
        <h3 class="card-title"><%= f.label :end_date, "終了日" %></h3>
        <p class="card-text"><%= f.date_field :end_date, class:"form-control w-50 mx-auto" %></p>
        <%= f.submit "保存", class: "btn btn-primary" %>
        <%= link_to "戻る", top_path, class: "btn btn-secondary" %>
      </div>
    </div>
  <% end %>
</div>