<%= render "public/header1" %>
<div class="container justify-content-center">
  <h1 class="my-4 text-center">履歴詳細</h1>

  <div class="row mb-5 d-flex flex-wrap">
    <% @categories.each do |category| %>
      <div class="col-6 p-2">
        <div class="card border-secondary h-100">
          <div class="card-header text-center card-header-color">
            <h4>
              <%= category.category_name %><br>
              予算<%= category.budget %>円
            </h4>
            <p>残高<%= category.budget - category.expenses.sum(:amount) %>円</p>

            <%= link_to edit_public_category_path(category), class:"mt-1 btn btn-warning btn-sm" do %>
              <i class="fa-solid fa-pen"></i>
            <% end %>

            <%= link_to public_category_path(category), method: :delete,
                        data: {confirm: "本当に削除しますか？"},
                        class:"mt-1 btn btn-danger btn-sm" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>

          <div class="card-body">
          <button class="btn btn-outline-primary w-100 mb-3"
                  type="button"
                  data-toggle="collapse"
                  data-target="#category-<%= category.id %>"
                  aria-expanded="false"
                  aria-controls="category-<%= category.id %>">
            支出を表示／非表示
          </button>

            <!-- ▼ 折りたたまれる部分 -->
            <div class="collapse" id="category-<%= category.id %>">
              <% if category.expenses.any? %>
                <table class="table table-bordered">
                  <thead class="header-footer-color">
                    <tr>
                      <th>日付</th>
                      <th>金額</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% category.expenses.each do |expense| %>
                      <tr>
                        <td><%= expense.expense_date.strftime("%Y-%m-%d") %></td>
                        <td><%= expense.amount %></td>
                        <td>
                          <%= link_to edit_public_expense_path(expense), class:"btn btn-warning btn-sm" do %>
                            <i class="fa-solid fa-pen"></i>
                          <% end %>
                          <%= link_to public_expense_path(expense), method: :delete,
                                      data: {confirm: "本当に削除しますか？"},
                                      class:"btn btn-danger btn-sm" do %>
                            <i class="fa-solid fa-trash"></i>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% else %>
                <p class="text-muted">支出はまだありません。</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
