<%= render "admins/header" %>
<div class="container" style="margin-top:166px;">
  <h2 class="text-center mb-5">会員一覧</h2>
  <div class="row d-flex align-content-center flex-wrap rounded">
    <% @users.each do |user| %>
      <div class="col-4 card card-header-color">
        <div class="card-body d-flex flex-column align-items-center justify-content-center">
          <div>
            <%= image_tag user.get_profile_image, size: '200x200', class: "rounded-circle border", alt: "プロフィール画像" %>
          </div>
          <h3 class="font-weight-bold mb-3"><%= user.username %></h3>
          <div class="d-flex">
            <%= link_to "詳細", admins_user_path(user), class:"btn btn-primary mr-3" %>
            <%= link_to "削除", admins_user_path(user), method: :delete, data: { confirm: "本当に削除しますか？" }, class:"btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- ページネーション -->
<div class="pagination">
  <%= paginate @users %>
</div>