<%= render "admins/header" %>
<div class="container" style="margin-top:166px;">
  <div class="card card-header-color mx-auto" style="max-width: 800px; border-radius: 1rem;">
    <div class="card-body text-center">

      <!-- プロフィール画像 -->
      <div class="mb-3">
        <%= image_tag @user.get_profile_image, size: '200x200', class: "rounded-circle border", alt: "プロフィール画像" %>
      </div>

      <!-- ユーザー名 -->
      <h3 class="font-weight-bold mb-3"><%= @user.username %></h3>

      <!-- フォロー・フォロワー数 -->
      <div class="row text-center mb-4">
        <div class="col">
          <p class="mb-1 text-muted">フォロー</p>
          <h5><%= @user.following.count %></h5>
        </div>
        <div class="col">
          <p class="mb-1 text-muted">フォロワー</p>
          <h5><%= @user.followers.count %></h5>
        </div>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= @user.introduction %>
        </li>
        <li class="list-group-item">
          <%= "#{@user.last_name} #{@user.first_name}（#{@user.last_name_kana} #{@user.first_name_kana}）" %></li>
        </li>
        <li class="list-group-item">
          <%= @user.phone_number %>
        </li>
        <li class="list-group-item">
          <%= @user.email %>
        </li>
      </ul>
      <%= link_to "削除", admins_user_path(@user), method: :delete, data: { confirm: "本当に削除しますか？" }, class:"mt-3 btn btn-danger" %>
    </div>
  </div>
</div>
