<%= render "public/header1" %>
<div class="container">
  <%= form_with model: @category, url: public_categories_path, local: true do |f| %>
    <% if @category.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(@category.errors.count, "件のエラー") %>があります：</h4>
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col">
        <%= f.label :category_name, "カテゴリ名" %><br>
        <%= f.text_field :category_name, autocomplete: "off" %><br>

        <%= f.label :budget, "予算/残高" %><br>
        <%= f.text_field :budget, inputmode: "numeric", pattern: "[0-9]*", autocomplete: "off" %> 円<br>
        <%= f.submit "登録", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>