<%= render "public/header1" %>
<div class="container d-flex justify-content-center" style="margin-top:166px;">
  <%= form_with model: @category, url: categories_path, local: true do |f| %>
    <% if @category.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(@category.errors.count, "件のエラー") %>があります：</h4>
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card border-dark", style="width: 400px;">
      <div class="card-header text-center card-header-color">
        <h1 class="mb-0 font-weight-bold">カテゴリの追加</h1>
      </div>
      <div class="card-body text-center">
        <h3 class="card-title"><%= f.label :category_name, "カテゴリ名" %></h3>
        <p class="card-text"><%= f.text_field :category_name, autocomplete: "off" %></p>
        <h3 class="card-title"><%= f.label :budget, "予算/残高" %></h3>
        <p class="card-text">
          <%= f.text_field :budget, inputmode: "numeric", pattern: "[0-9]*", autocomplete: "off" %> 円
        </p>
        <%= f.submit "登録", class: "btn btn-primary" %>
        <%= link_to "戻る", top_path, class: "btn btn-secondary" %>
      </div>
    </div>
  <% end %>
</div>