<%= render "public/header1" %>
<div class="container" style="margin-top:166px;">
<!--カテゴリ登録-->
  <% if @latest_period.present? %>
    <%= link_to new_category_path, class: "btn btn-success fixed-top-right" do %>
      <i class="fa-solid fa-plus fa-2x"></i>
    <% end %>
  <% end %>
  <div class="row justify-content-center mt-4 mb-4">
    <div class="col-md-6">
      <% if @latest_period.nil? %>
        <div class="alert alert-warning text-center p-5 my-4" style="font-size: 1.5rem; background-color: #fff3cd; border-radius: 10px;">
          <strong>まずは「期間」を登録してください！</strong><br>
          登録後に家計簿機能が利用できるようになります
        </div>
      <% end %>

      <%= form_with model: @period, url: periods_path, local: true do |f| %>
        <% if @period.errors.any? %>
          <div class="alert alert-danger">
            <h4><%= pluralize(@period.errors.count, "件のエラー") %>があります：</h4>
            <ul>
              <% @period.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="d-flex justify-content-center">
          <div>
            <%= f.label :start_date, "開始日" %><br>
            <%= f.date_field :start_date, class:"mr-3" %>
          </div>
          <div>
            <%= f.label :end_date, "終了日" %><br>
            <%= f.date_field :end_date, class:"mr-3" %>
          </div>
          <div>
            <%= f.submit "登録", class: "mt-4 btn btn-primary" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>

  
  <!--期間が登録されていない場合はカテゴリ登録ボタンなどを無効化-->
  <% if @latest_period.present? %>

    <!--支出登録のエラーメッセージ-->
    <% if flash[:expense_errors].present? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(flash[:expense_errors].count, "件のエラー") %>があります：</h4>
        <ul>
          <% flash[:expense_errors].each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h5 class="my-4 text-center bg-light">
      <i class="fa-solid fa-bullhorn mr-2 bullhorn-css"></i>カテゴリをクリックして支出一覧を見る
    </h5>

    <div class="row d-flex align-content-center flex-wrap border border-secondary rounded">
      <div class="col-12  p-0 card border-secondary">
        <div class="card-header text-center card-header-color">
          <h3>
            <%= @latest_period.start_date %> ~ <%= @latest_period.end_date %>
            <%= link_to edit_period_path(@latest_period), class:"btn btn-warning" do %>
              <i class="fa-solid fa-pen"></i>
            <% end %>
            <%= link_to period_path(@latest_period), method: :delete,
                        data: {confirm: "本当に削除しますか？"},
                        class:"btn btn-danger" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </h3>
        </div>
      </div>

        <% @categories.each do |category| %>
        <div class="col-4 card-body">
          <div class="card border-secondary">
            <div class="card-header card-header-color">
              <p><%= link_to category.category_name, period_path(@latest_period), class:"m-0 btn btn-success" %></p>
              残高<%= category.budget - category.expenses.where(period_id: @latest_period.id).sum(:amount) %> 円 <br>
              <%= link_to edit_category_path(category), class:"mt-2 btn btn-warning btn-sm" do %>
                <i class="fa-solid fa-pen"></i>
              <% end %>
              <%= link_to category_path(category), method: :delete,
                          data: {confirm: "本当に削除しますか？"},
                          class:"mt-2 btn btn-danger btn-sm" do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </div>

            
            <%= form_with model: @expense, url: expenses_path, local: true do |f| %>
              

            <div class="card-body">
              <%= f.hidden_field :category_id, value: category.id %>
              <%= f.hidden_field :period_id, value: @latest_period.id %>

                <%= f.label :expense_date, "支出日", class:"font-weight-bold" %>
                <%= f.date_field :expense_date, class:"form-control" %>

                <%= f.label :amount, "支出金額", class:"font-weight-bold" %>
                <%= f.text_field :amount, inputmode: "numeric", pattern: "[0-9]*", class:"form-control" %>

                <%= f.submit "登録", class: "btn btn-primary mt-2" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>